<h1> Convert <%= @first_currency %> to <%= @second_currency %> </h1>

<p> Go <a href = "/forex/<%= @first_currency %>"> back</a>.</p>

<p> 1 <%= @first_currency %> equals <%= @result %> <%= @second_currency %>
